name: Changeset Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validate-changeset:
    name: Validate Changeset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Validate Changeset
        run: bunx changeset status
